<header>
  <nav class="navbar border-bottom box-shadow h-10 backgroundcol py-0">
      <div class="container">
          <a class="navbar-brand text-light mr-auto" [routerLink]="['/']">Hang-Man</a>
          <a href="#" type="button" class="nav-link mr-3 p-0" data-toggle="modal" data-target="#modalStats"><i class="fa fa-chart-simple"></i></a>
          <a href="#" type="button" class="nav-link mr-3 p-0" data-toggle="modal" data-target="#modalCalender"><i class="fa fa-calendar"></i></a>
          <a href="#" type="button" class="nav-link mr-3 p-0" data-toggle="modal" data-target="#modalInfo"><i class="fa fa-circle-info"></i></a>



          <!--<button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".navbar-collapse"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="isExpanded"
      (click)="toggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>-->
          <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
    [ngClass]="{ show: isExpanded }">-->
          <!--<app-login-menu></app-login-menu>-->
          <!--<ul class="navbar-nav flex-grow">
    <li class="nav-item" [routerLinkActive]="['link-active']">
        <a href="#" type="button" class="btn nav-link text-light btnhover" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-chart-simple"></i></a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
        <a href="#" type="button" class="btn nav-link text-light btnhover" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-calendar"></i></a>
    </li>-->
          <!--<li
      class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/counter']"
        >Counter</a
      >
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
        >Fetch data</a
      >
    </li>-->
          <!--</ul>
    </div>-->
      </div>
  </nav>
</header>

