.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 26px;
    color: #fff;
}
    .navbar-brand:hover {
        color: #fff;
    }

    .navbar-brand.light {
        color: #0F172A;
    }
html {
        font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.h-10 {
    height:8vh;
}

.nav-link {
    font-size: 20px;
    color: #fff;
}
    .nav-link:hover {
        font-size: 22px;
    }

    a.light {
        color: #0F172A;
    }
nav.light {
    background-color: #fff;
}
.navbar-brand:hover {
    font-size: 27px;
}

    