<div id="home">
    <div class="top-container" >       
        <!--Moet hierdie hele animation div vervang eventually met actual animations-->
        <div id="animations" style="margin-top: auto; margin-bottom: auto; display: flex; flex-direction: column;"> 
            <div id="response" style="font-size: 40px;color: red; margin-left: auto; margin-right: auto;" hidden><span>Game Over</span></div>
            <div style=" display: flex; justify-content: center;">
                <button id="wrong0" class="btn-answers"></button>
                <button id="wrong1" class="btn-answers"></button>
                <button id="wrong2" class="btn-answers"></button>
                <button id="wrong3" class="btn-answers"></button>
                <button id="wrong4" class="btn-answers"></button>
            </div>
        </div>
        <div id="lettersBtns">     
        </div>        
    </div>
    <div id="keyboard" >
        <div id="row1" class="keyboardRow">
            <button id="btn17" class="btn btn-keyboard" (click)='keyboardPress(16)'>Q</button>
            <button id="btn23" class="btn btn-keyboard" (click)='keyboardPress(22)'>W</button>
            <button id="btn5" class="btn btn-keyboard" (click)='keyboardPress(4)'>E</button>
            <button id="btn18" class="btn btn-keyboard" (click)='keyboardPress(17)'>R</button>
            <button id="btn20" class="btn btn-keyboard" (click)='keyboardPress(19)'>T</button>
            <button id="btn25" class="btn btn-keyboard" (click)='keyboardPress(24)'>Y</button>
            <button id="btn21" class="btn btn-keyboard" (click)='keyboardPress(20)'>U</button>
            <button id="btn9" class="btn btn-keyboard" (click)='keyboardPress(8)'>I</button>
            <button id="btn15" class="btn btn-keyboard" (click)='keyboardPress(14)'>O</button>
            <button id="btn16" class="btn btn-keyboard" (click)='keyboardPress(15)'>P</button>
        </div>
        <div id="row2" class="keyboardRow" style=" margin-left:10px;margin-right:10px;" >
            <button id="btn1" class="btn btn-keyboard" (click)='keyboardPress(0)'>A</button>
            <button id="btn19" class="btn btn-keyboard" (click)='keyboardPress(18)'>S</button>
            <button id="btn4" class="btn btn-keyboard" (click)='keyboardPress(3)'>D</button>
            <button id="btn6" class="btn btn-keyboard" (click)='keyboardPress(5)'>F</button>
            <button id="btn7" class="btn btn-keyboard" (click)='keyboardPress(6)'>G</button>
            <button id="btn8" class="btn btn-keyboard" (click)='keyboardPress(7)'>H</button>
            <button id="btn10" class="btn btn-keyboard" (click)='keyboardPress(9)'>J</button>
            <button id="btn11" class="btn btn-keyboard" (click)='keyboardPress(10)'>K</button>
            <button id="btn12" class="btn btn-keyboard" (click)='keyboardPress(11)'>L</button>
        </div>
        <div id="row3" class="keyboardRow">
            <button id="btnhint" class="btn btn-keyboard-special" (click)='giveHint()'><i class="fa fa-question"></i></button>
            <button id="btn26" class="btn btn-keyboard" (click)='keyboardPress(25)'>Z</button>
            <button id="btn24" class="btn btn-keyboard" (click)='keyboardPress(23)'>X</button>
            <button id="btn3" class="btn btn-keyboard" (click)='keyboardPress(2)'>C</button>
            <button id="btn22" class="btn btn-keyboard" (click)='keyboardPress(21)'>V</button>
            <button id="btn2" class="btn btn-keyboard" (click)='keyboardPress(1)'>B</button>
            <button id="btn14" class="btn btn-keyboard" (click)='keyboardPress(13)'>N</button>
            <button id="btn13" class="btn btn-keyboard" (click)='keyboardPress(12)'>M</button>            
            <button id="enter" class="btn btn-keyboard-special" style="width: auto;" (click)="submit()">Voer in</button>
        </div>      
    </div>
</div>
<div class="modal fade" id="modalStats" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"  style="border-radius:15px">
            <div class="modal-body">                
                <div style="display: flex;">
                    <span style="font-size: 3.25vh; margin-left: auto; margin-right: auto; ">Jou Hang-Man Statistieke</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff">&times;</span>
                    </button>
                </div>
                <div style="display: flex; justify-content:space-around;margin-top:20px">
                    <div class="stats">
                        <span style="font-size: 3.25vh;">35</span>
                        <span style="font-size: 1.75vh;">Potte gespeel</span>
                    </div>                        
                    <div class="stats">
                        <span style="font-size: 3.25vh;">100%</span>
                        <span style="font-size: 1.75vh;">Sukseskoers</span>
                    </div>                        
                    <div class="stats">
                        <span style="font-size: 3.25vh;">35</span>
                        <span style="font-size: 1.75vh;">Dae in n ry <i class="fas fa-fire" style="color: orangered; font-size: 2vh"></i></span>
                    </div>                        
                    <div class="stats">
                        <span style="font-size: 3.25vh;">35</span>
                        <span style="font-size: 1.75vh;">Langste lopie</span>
                    </div>                        
                </div>    
                <div style="display: flex; flex-direction: column;">
                    <span style="font-size: 2.25vh; margin-left: auto; margin-right: auto; margin-top: 20px">Suksesverdeling</span>
                    <div style="margin-left: auto; margin-right: auto;">
                        <app-bar-chart [List]='Score'></app-bar-chart>
                    </div>
                </div>
                <div style="display: flex; margin-top:25px;justify-content:space-around">
                    <div>
                        <span>Volgende spel</span><br/>
                        <countdown-timer [end]='dateTomorrow' style="margin-left:20px"></countdown-timer>
                    </div>
                    <button id="btnShare" class="btn btn-primary" style="width:110px;"><i class="fa fa-share-from-square mr-1"></i> Deel </button>
                </div>
            </div>        
        </div>
    </div>
</div>
<div class="modal fade" id="modalCalender" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius:15px">
            <div class="modal-body">                
                <div style="display: flex;">
                    <span style="font-size: 3.25vh; margin-left: auto; margin-right: auto; ">Speel gister s'n</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff">&times;</span>
                    </button>
                </div>
                <div style="display: flex; justify-content:center; margin-top:20px;">
                    <datepicker-inline-calendar></datepicker-inline-calendar>
                </div>    
                <div style="display: flex; justify-content: center; margin-top: 20px ">
                    <button id="btnChooseDate" class="btn btn-primary mr-3"></button>
                    <button id="btnChooseToday" class="btn btn-primary">Kies Vandag</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalInfo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius:15px">
            <div class="modal-body">
                <div style="display: flex;">
                    <span id="infoHeader" style="font-size: 3.25vh; margin-left: auto; margin-right: auto; ">Hoe om te speel</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff">&times;</span>
                    </button>
                </div>
                <div id="infotext" style="display: flex; justify-content:space-around;margin-top:20px">
                    <p>
                        Raai watter letters in die woord of frase of idioom is deur 'n letter (of letters as jy dapper is) te kies. As die letter korrek is,
                        sal dit in die blokkies verskyn. As die letter verkeerd is, sal dit 'n deel van 'n strydperk vertoon.<br />
                        Jy het slegs <span class="text-danger">5</span> verkeurde raai skote voordat die strydperk voltooi word.
                        Die doel van die spel is om die woord of frase te raai voordat die strydperk voltooi is.
                        <br />
                        <br />
                        Jy kan 'n wenk gebruik wat 1 letter in die woord vir jou sal onthul, maar let wel die prys vir n wenk is 'n lewe!
                        <br />
                        Spasies in die frase word aangedui deur 'n donker grys blokkie.
                        <br />
                        <br />
                        TIP: Probeer om vokale eerste te gebruik (A,E,I,U,O)
                    </p>
                </div>
                <div id="erkenningtext" style="display: flex; justify-content:space-around;margin-top:20px; display:none">
                    Hello from erkenning
                </div>
                <div id="settingstext" style="display: flex; justify-content:space-around;margin-top:20px; display:none">
                    Hello from settings
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="mr-3 p-0" data-toggle="tooltip" title="Info" data-placement="bottom" (click)="info('info')"><i class="fa fa-circle-info" style="color:white"></i></a>
                <a href="#" type="button" class="mr-3 p-0" data-toggle="tooltip" title="Erkenning" data-placement="bottom" (click)="info('erkenning')"><i class="fa fa-people-group" style="color:white"></i></a>
                <a href="#" type="button" class="mr-3 p-0" data-toggle="tooltip" title="Instellings" data-placement="bottom" (click)="info('settings')"><i class="fa fa-sun" style="color:white"></i></a>
                <a href="#" type="button" class="mr-3 p-0" data-toggle="tooltip" title="Instellings" data-placement="bottom" (click)="info('settings')"><i class="fa fa-moon" style="color:white"></i></a>
            </div>
        </div>
    </div>
</div>